.player-hand {
  width: 98%;
  position: absolute;
  bottom: 50px;
}

.player-hand-cards {
  width: 400px;
  margin: 0 auto;
}

.player-hand-cards .card {
  margin: 0 4px;
  cursor: pointer;
}

.player-hand-cards .card:hover {
  margin-bottom: 14px;
}
