.player-hand-player {
  width: 98%;
  position: absolute;
  bottom: 5%;
}

.player-hand-opponent {
  width: 98%;
  position: absolute;
  top: 2%;
}

.player-hand-cards {
  width: 320px;
  margin: 0 auto;
}

.player-hand-cards .card {
  margin: 0 4px;
  cursor: pointer;
}

.player-hand-cards .card:hover {
  margin-bottom: 14px;
}
